In [ ]:
import pandas as pd

countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'area': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]    
})

countries_df.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']

display(countries_df)
display(countries_df.mean(axis=1, numeric_only=True))

countries_df.population

In [25]:
#есть структура данных
income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]

def create_companyDF(income, expenses, years):
    turnover = pd.DataFrame(  
    data={'Income': income, 'Expenses': expenses},
    index = years
)
    return turnover

def get_profit(df, year):
    if year in df.index:
        lst=df.loc[year]
        return int(lst[0]-lst[1])
    else:
        return None

new = create_companyDF(income, expenses, years)
display(new)
display(get_profit(new,2018))

      Income  Expenses
2018     478       156
2019     512       130
2020     196       270

C:\Users\Art\AppData\Local\Temp\ipykernel_10508\1622282492.py:16: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return int(lst[0]-lst[1])

322